@import '../var.scss';

.check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  width: 100%;
  background-color: $whiteColor;
  height: 50px;
  border-radius: 10px;

  .check__input {
    display: inline-block;
    appearance: none;
  }
  .check__box {
    display: inline;
    width: 20px;
    height: 20px;
    background: url('./checkbox-unactive.svg') no-repeat;
    margin-right: 5px;
  }
  .check__input:checked + .check__box {
    background: url('./checkbox-active.svg') no-repeat;
  }
}

.check:hover {
  background: $hoverColor;
}

@media (min-width: 900px) {
  .check {
    width: 100%;
    background-color: none;
    height: auto;
    border-radius: 0px;
  }
}
