@import '../var.scss';

.filter-transfers {
  .filter-transfers__name {
    margin-left: 10px;
  }

  @media (min-width: 900px) {
    & {
      display: block;
      background-color: $whiteColor;
      position: fixed;
      top: 120px;
      padding: 0px;
      margin-left: -200px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 180px;
    }
  }
}
